@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  color: #aeacac;
}

a:hover {
  color: #ffffff;
}

hr {
  width: 268px !important;
  height: 7px !important;
  background-color: #FC8621 !important;
  border-radius: 2px;
}

#header {
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  margin: 0;
  padding: 0;
  line-height: 1;
}

#header .logo img {
  max-height: 40px;
}

/*----- #Navigation Menu -----*/
/*Main Menu*/
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #aeacac;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.nav-menu:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #ffffff;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #ffffff;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #151515;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #151515;
  text-decoration: none;
  background: #ffc451;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #ffffff;
}

.body {
  width: 100%;
  height: 100%;
}

/*Hero Section Start*/
#hero {
  width: 100%;
  height: 100vh !important;
  background: url("../images/background.jpeg") no-repeat bottom;
  background-size: cover;
  position: relative;
}

#hero .container {
  position: relative;
  text-align: center;
}

#hero h4 {
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.03em;
  font-family: "Poppins"sans-serif;
  color: #ffffff;
}

#hero h1 {
  margin: 0;
  font-family: "Poppins"sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 80px;
  /* or 167% */
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

#hero .welcome-text {
  margin: 1.4em 0 1.4em 0;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 32px;
  }
  #hero h2 {
    font-size: 24px;
  }
}

/*Hero Section End*/
/*Section General Start*/
section {
  padding: 60px 0;
  overflow: hidden;
}

/*Section General End*/
/* Keunggulan Start*/
.keunggulan {
  margin-top: 6%;
}

.keunggulan #item-1,
.keunggulan #item-2,
.keunggulan #item-3 {
  width: 270px;
  margin: 20px;
}

.keunggulan .desc {
  margin-top: 1.3em;
}

.keunggulan .desc > h5 {
  font-size: 22px;
  font-weight: 600;
}

.keunggulan .desc > p {
  font-size: 16px;
  font-weight: 400;
  color: #C24914;
}

.keunggulan .parent-keunggulan {
  margin-top: 0.5em;
}

/* Keunggulan End*/
/*Product Start*/
/*Product End*/
/*# sourceMappingURL=index.css.map */